<table class="table">
    <tr>
        <th>Id</th>
        <th>Nom</th>
    </tr>
    {% for citie in cities %}
        <tr>
            <td>{{citie.getId()}}</td>
            <td>{{citie.getName()}}</td>
        </tr>
    {% endfor %}
</table>
